/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #E6002E;

// Code blocks
$code-block-bg-alpha: -.8;

// Callouts
$callout-color-note: #04316A;
$callout-color-important: #C50F3C;
$callout-color-tip: #18B4F1;